{% extends 'base.html.twig' %}

{% block title %}Prestations - Manucure{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href={{ asset("css/service.css") }}>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Durée (Approximative)</th>
                    <th scope="col">Prix</th>
                </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    <tr>
                        <td scope="row">{{ service.name }}</td>
                        <td>{{ service.description }}</td>
                        <td>{{ service.duration }}</td>
                        <td>{{ service.price }}€</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
